<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <title>Email verification</title>
  </head>
  <body style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZVVz9jsr-NBsE7GxQWdVjkp9YVpDrvurRzLd7raK322U3nC-kGmZeuYEzxhBon2mH9Fs&usqp=CAU); background-repeat: no-repeat; background-attachment: fixed; background-size: 100% 100%;">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-lg-4">

        </div>
        <div class="col-12 col-md-6 col-lg-4">
            </br>
            </br>
            </br>
            </br>
            <div class="card text-center rounded">
                <div class="card-header bg-white">
                    <h6>WELCOME TO HotelCenter!</h6>
                    <img src="https://img.icons8.com/clouds/100/000000/handshake.png" class="img-fluid" alt="...">
                </div>
                <div class="card-body">
                    <h5 class="card-title">you need to confirm your account. Just press the button below.</h5>
                    </br>
                    <a style="background-color: #669BBC; border-color: #669BBC;" href="#" class="btn btn-primary">confirm account</a>
                    </br>
                    <p></p>
                    <p style="direction: ltr;" class="card-text">If you have any questions, just reply to this email—we're always happy to help out. <i class="bi bi-emoji-smile"></i></p>
                    <p>
                        "Have a good trip"
                        
                    </p>
                </div>
                <div class="card-footer text-muted">
                    <i class="bi bi-heart-fill text-danger"></i> vira-group <i class="bi bi-heart-fill text-danger"></i>
                </div>
          </div>
        </div>
        <div class="col-md-3 col-lg-4">

        </div>
      </div>
    </div>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
  </body>
</html>